
 <nav>
    <div class="title">
        <a href="/"><h1>Blog</h1></a>
        <p>A blog for yourself</p>
    </div>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/blogs/create">NEW BLOG</a></li>
    </ul>
</nav>